// 基于的宽度
$vw_base: 1920;

@function vm($px) {
  @return ($px / $vw_base) * 100vw;
}

html{
  height: 100vh;
}
body {
  color: #fff;
  background: url("../../images/bg.png");
  height: calc(100% - 27px);
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  background: url("../../images/top.png");
  background-repeat: no-repeat;
}
.header_left {
  display: flex;
  align-items: baseline;
  width: 28vw;
  padding: vm(25) vm(10);
}
.left_text_gradient {
  background-image:-webkit-linear-gradient(bottom,#9ad7fe,#fcfcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.left_hours{
  margin-right: vm(20);
  font-size: vm(20);
}
.left_date{
  border-left: vm(1) solid #fff; padding-left: vm(20);
  font-size: vm(16);
}
.header_center {
  font-size: vm(32);
  font-weight: bold;
}
.center_text_gradient {
  background-image:-webkit-linear-gradient(bottom,#007efe,#00ddfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.header_right {
  display: flex;
  width: 28vw;
  padding: vm(25) vm(10);
  justify-content: flex-end;
  align-items: baseline;
}
.right_org{
  margin-right: vm(20);
}
.right_out {
  padding-left: vm(20);
  border-left: 1px solid #fff;
}
.content{
  display: flex;
  justify-content: space-between;
  height: calc(100% - 100px);
  padding: 0px vm(15) vm(15);
}
.content_left{
  width: 28vw;
}
.content_left .frist_div{
  height: 40vh;
  border: vm(1) solid #0a185c;
  background: url("../../images/ld.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.content_left_title{
  background: -webkit-linear-gradient(left, #071c8a , #050754); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #071c8a, #050754); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #071c8a, #050754); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #071c8a , #050754); /* 标准的语法 */
  padding: vm(10) vm(20);
  font-weight: bolder;
}
.content_right_title{
  background: -webkit-linear-gradient(left, #050754 , #071c8a); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #050754, #071c8a); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #050754, #071c8a); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #050754 , #071c8a); /* 标准的语法 */
  padding: vm(10) vm(20);
  font-weight: bolder;
}
.content_title{
  /*background: -webkit-linear-gradient(left,#00ddfe,#007efe 70%,#00ddfe 30%);*/
  background-image:-webkit-linear-gradient(left,#007bff,#05eeff,#00affe);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

}
.content_left .other_div{
  height: 30vh;
  border: vm(1) solid #0a185c;
  margin-top: vm(15);
  background: url("../../images/ld.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.content_right{
  width: 28vw;
}
.content_right .item_div{
  height: calc(25vh - 5px);
  text-align: right;
  border: 1px solid #0a185c;
  margin-bottom: vm(15);
  background: url("../../images/ld.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.org_content{
  height: calc(100% - 40px);
  background: url("../../images/rd.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
.org_statistics{
  display: flex;
  flex-wrap: wrap;
  padding: vm(10) vm(10) vm(10) vm(10);
}
.org_echarts{
  height: calc(100% - 150px);
}
.org_echarts>div{
  height: 100%;
}
.org_block{
  width: 25%;
  margin-bottom: vm(20);
  color: #03B6F0;
}
.org_block:nth-child(n+5){
  margin-bottom: 0px;
  color: #0593E9;
}
.org_block .title{
  font-size: vm(14);
  margin-bottom: vm(5);
  margin-bottom: vm(10);
  color: #ffffff;

  // 小屏幕换行
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.org_block .value{
  font-size: vm(20);
  font-weight: bold;
}
.content_center{
  width: 44vw;
}
.center_top{
  display: flex;
  justify-content: center;
}
.center_top>div{
  width: 44vw;
}
.clin_count_title{
  color: #03B6F0;
}
.clin_count_item{
  display: flex;
  margin-top: vm(10);
}
.clin_count{
  background: url(../../images/numb.png);
  background-repeat: no-repeat;
  width: vm(32);
  background-position-x: center;
  background-position-y: vm(-10);
  height: vm(38);
  line-height: vm(38);
  text-align: center;
  background-size: vm(65);
}
.center_bottom{
  display: flex;
  justify-content: center;
  margin-top: vm(40);
  flex-wrap: wrap;
  height: calc(100% - 60px);
}
.center_bottom_btn{
  width: 200vw;
  padding: vm(10);
  text-align: -webkit-center;
  border: vm(1) solid #03B6F0;
  font-weight: bolder;
  cursor: pointer;
}
.map_echarts{
  height: calc(100% - 62px);
  width: 100vw;
  padding: vm(10) vm(40);
}