html,
body {
  font-size: 1.6vw;
}

.yd-hd {
  width: 100%;
  background-color: #fff;
  height: 16vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}
.yd-hd a,
.yd-hd a:visited {
  display: inline-block;
  color: #fff;
  position: relative;
  padding-left: 1.6vw;
  height: 16vw;
  line-height: 100%;
}
.yd-hd a:active {
  color: #4d78e7;
}
.yd-hd a.back {
  height: 16vw;
  line-height: 16vw;
  position: absolute;
  left: 1.06667vw;
  top: 0;
  cursor: pointer;
}
.yd-hd a.back:after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  margin-left: 1.06667vw;
  margin-top: -1.6vw;
  width: 3.2vw !important;
  height: 3.2vw !important;
  display: inline-block;
  border-color: #ff7452;
  border-style: solid;
  border-width: 0px 0px 0.53333vw 0.53333vw;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.yd-hd a:active:after {
  border-color: #4d78e7;
}
.yd-hd a.right {
  float: right;
}
.yd-hd .hd {
  width: 100%;
  position: absolute;
  left: 5.86667vw;
  right: 4.53333vw;
  top: 0;
  text-align: left;
  color: #646363;
  font-size: 4.26667vw;
  height: 16vw;
  line-height: 16vw;
}

.yd-bd {
  position: relative;
  background: #dcaa5a url(../images/bg.png) top center no-repeat;
  background-size: 100% auto;
  padding-top: 16vw;
  padding-bottom: 3.73333vw;
}
.yd-bd .images {
  margin-bottom: 3.73333vw;
  position: relative;
  padding-top: 3.73333vw;
}
.yd-bd .clickme {
  width: 10.66667vw;
  height: 10.66667vw;
  background: url(../images/clickme.png) top center no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 4vw;
  left: 4vw;
  cursor: pointer;
  z-index: 10;
}
.yd-bd .giftbag {
  width: 76%;
  height: 24vw;
  margin: 8vw auto 0;
  background: url(../images/300libao.png) top center no-repeat;
  background-size: auto 100%;
  position: relative;
}

.car-box {
  width: 40vw;
  height: 24vw;
  margin: 40vw auto 10.66667vw;
  margin-left: 52%;
  position: relative;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
.car-box .hand {
  position: absolute;
  left: 1.6vw;
  width: 30%;
  height: 8vw;
  background: url(../images/hand.png) top center no-repeat;
  background-size: 100% auto;
  z-index: 10;
}
.car-box .car {
  width: 86%;
  height: 100%;
  margin: 0 auto;
  background: url(../images/car.png) top center no-repeat;
  background-size: auto 100%;
  position: relative;
  z-index: 11;
  margin-left: 15%;
}

.btn {
  width: 50%;
  height: 6.4vw;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.btn.yh {
  display: block;
  height: 9.06667vw;
  background: url(../images/btn.png) top center no-repeat;
  background-size: auto 100%;
  text-indent: -1000px;
  overflow: hidden;
}

.regular {
  margin: 6.4vw 3.73333vw;
  background-color: #ffe0ad;
  position: relative;
  -webkit-border-radius: 1.6vw;
  -moz-border-radius: 1.6vw;
  border-radius: 1.6vw;
}
.regular .hd {
  height: 8vw;
  color: #fff;
  font-weight: bold;
  font-size: 1.86667vw;
  text-align: center;
  background: url(../images/tips.png) top center no-repeat;
  background-size: 68% 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -3.2vw;
  z-index: 11;
  text-indent: -2000px;
  overflow: hidden;
}
.regular .bd {
  padding: 6.4vw 2.4vw 3.2vw;
  position: relative;
  z-index: 10;
}
.regular .bd p {
  font-size: 3.2vw;
  line-height: 2;
  color: #593f15;
}

@-webkit-keyframes tadaWp {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -2deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -2deg);
  }
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
  }
  20%,
  30%,
  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tadaWp {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -2deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -2deg);
  }
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 2deg);
  }
  20%,
  30%,
  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -2deg);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tadaWp {
  -webkit-animation-name: tadaWp;
  animation-name: tadaWp;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.yh.tadaWp {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes handAnimate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes handAnimate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

.handAnimate {
  -webkit-animation-name: handAnimate;
  animation-name: handAnimate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
